/*top栏*/
.top-bar {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #023894;
    color: #ffffff;

}

.top-bar ul, .top-bar li {
    list-style: none;
}

.top-bar .lang-change {
    float: left;
}

.top-bar a {
    color: #ffffff;
}

.top-bar .lang-change span {
    font-size: 14px;
    padding: 0px 5px;
}

.top-bar .fn-content {
    float: right;
}

.top-bar .fn-content a {
    font-size: 16px;
}

.top-bar .fn-content li {
    float: left;
}

.top-bar .fn-content .text-item {
    padding: 0px 10px;
}

.top-bar .fn-content .icon-item i {
    display: inline-block;
    margin: 0px 8px;
    vertical-align: middle;
    cursor: pointer;
}

.top-bar .weChat-icon {
    width: 31px;
    height: 27px;
    background: url("../img/wechat.png");
}

.top-bar .email-icon {
    width: 30px;
    height: 19px;
    background: url("../img/email.png");
}

.top-bar .ie-icon {
    width: 26px;
    height: 25px;
    background: url("../img/ie.png");
}

/*导航栏*/
.nav-bar {
    height: 186px;
    width: 100%;
    background-color: #ffffff;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.nav-bar .logo-content {
    display: inline-block;
    width: 300px;
    height: 186px;
    margin-left: -120px;
}

.nav-bar .logo-content .logo-box {
    width: 300px;
    height: 186px;
    cursor: pointer;
    margin-top: 27px;
    display: inline-block;
    text-align: left;
}

.nav-bar .logo-content .logo {
    width: 300px;
    height: 131px;
    display: inline-block;
    background: url("../img/logo.png");
}

.nav-bar .nav-content {
    float: right;
    display: inline-block;
    width: 880px;
    height: 186px;
}

.nav-bar .nav-content>li {
    float: left;
    display: inline-block;
    margin: 80px 0px 0px 36px;
    cursor: pointer;
}
.nav-bar .nav-content>li ul{
    position: relative;
    z-index: 9999;
    background-color: rgba(255,255,255,.5);
    padding:0px 10px;
}
.nav-bar .nav-content>li ul li {

}
.nav-bar .nav-content>li ul li a{
    display: inline-block;
    font-size: 16px;
    height:36px;
    line-height:40px;
    color:#023894;
    border-bottom: 1px solid #023894;

}
.nav-bar .nav-content .cn-title {
    font-size: 21px;
    color: #023894;
    margin-bottom: 8px;
    display: inline-block;
    cursor: pointer;
    padding:0px 10px;
}

.nav-bar .nav-content .en-title:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 1px;
    height: 1.5px;
    width: 0;
    background: transparent;
    transition: width 0.5s ease, background-color 0.5s ease;
}

.nav-bar .nav-content .en-title {
    font-size: 13px;
    color: #6f6f6f;
    word-wrap: break-word;
    line-height: 13px;
    cursor: pointer;
}

/*轮播图*/
.banner-content {
    width: 100%;
    height: 646px;
}

.banner-content .swiper-container {
    height: 100%;
}

.banner-content img {
    text-align: center;
}

/*最新推荐*/
.rec-content {
    background-color: #023894;
    height: 480px;
    width: 100%;
    margin-top: 8px;
}

.rec-content header {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    line-height: 78px;
}

.rec-content header span {
    padding-left: 18px;
}

.rec-content .rec-items {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    -khtml-display: flex;
    display: flex;
}

.rec-content .rec-items .rec-item {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    -khtml-flex: 1;
    flex: 1;
    margin: 0px 12px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.rec-content .rec-items h3 {

    padding-bottom: 18px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding: 30px 30px 20px;
}

.rec-content h3 img {
    vertical-align: middle;
    margin-top: -4px;
}

.rec-content .rec-item-main {
    font-size: 13px;
    line-height: 18px;
    padding: 0px 30px;

}

.rec-content .rec-item-more {
    font-size: 13px;
    text-align: right;
    line-height: 18px;
    padding-right: 30px;

}

.rec-content .rec-item-more a {
    font-size: 13px;
    color: #282828;
}

.rec-content .text-content {
    height: 186px;
    width: 100%;
    width: 100%;
}

.rec-content .img-content {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.rec-content .img-content img {
    width: 100%;
    height: 200px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.rec-content .img-content img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
/*友情链接*/
.follow-us {

}

.follow-us header {
    color: #023894;
    text-align: center;
    font-size: 24px;
    margin: 24px 0px;
}

.follow-us .follow-items {
    text-align: center;
    margin-bottom: 70px;
}

.follow-us .follow-items li {
    display: inline-block;
    padding: 0px 40px;
    height: 84px;
}

.follow-us .follow-items li a {
    display: inline-block;
    height: 84px;
}

.follow-us .follow-items span {
    display: inline-block;
}

.follow-us .follow-items .follow-img {

}

.follow-us .follow-items .follow-text {
    color: #023894;
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
}

/*底部*/
.bottom-bar {
    background-color: #95acd8;
    height: 100px;
}

.bottom-bar .copyright {
    font-size: 13px;
    line-height: 30px;
}

.swiper-button-prev{
    left:80px;
}
.swiper-button-next{
    right:80px;
}
